html {
    box-sizing: border-box;
    transition:
        background-color $transition-length,
        color $transition-length,
        border-color $transition-length;
}
*, *:before, *:after {
    box-sizing: inherit;
    transition: inherit;
}

html, 
body {
    // overflow-x: hidden; 
}

* {
    
}

html {
    font-family: $font-serif;
    font-weight: $font-weight-medium;
    font-size: $font-base-size;
    @media screen and (max-width: $break-lg) {
        font-size: $font-base-size * 0.85;
    }
    line-height: $line-height;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.5rem; }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans-serif;
    line-height: $header-line-height;
    // font-weight: $font-weight-light;
}

a {
    color: $color-primary;
    text-decoration: none;

    p {
        color: $color-dark;
    }

    // filter: brightness(1);
    & {
        transition: filter, $transition-length;
    }

    &:hover, &:focus {
        filter: brightness(0.85);
    }
}

.cta {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    font-weight: $font-weight-heavy;
    border: 3px solid $color-secondary;

    &:hover, &:focus {
        filter: unset;
        border-color: $color-primary;
    }

    &.cta-primary {
        background-color: $color-secondary;
        color: $color-light;

        &:hover, &:focus {
            background-color: $color-primary;
        }
    }
    &.cta-secondary {
        color: $color-secondary;

        &:hover, &:focus {
            color: $color-primary;
        }
    }
}

.hidden {
    display: none;
}

html {
    box-sizing: border-box;
    *, *:before, *:after {
        box-sizing: inherit;
    }
}

body {
    background-color: #DFDFDF;
    color: #313131;
    font-size: 18px;
    
    &.dark-mode {
        background-color: #313131;
        color: #DFDFDF;
    }
}

.hidden {
    display: none;
}

fieldset.toggle {
    $toggle-height: 1rem;
    $toggle-width-ratio: 2.5;

    border: none;
    padding: 0;
    white-space: nowrap;

    legend {
        font-size: 2px;
        position: absolute;
        opacity: 0;
    }
        
    input {
        opacity: 0;
    }
    
    input ~ label {   
        display: inline-block;
        // line-height: 2;
        position: relative;
        z-index: 2;
        margin-left: ($toggle-width-ratio + 0.5) * $toggle-height;
                
        &::before, &::after {
            content: "";
            height: $toggle-height;
            position: absolute;
            left: 0;
            top: calc((100% - (2 * #{$toggle-height})) / 2);
            margin-left: -($toggle-width-ratio + 0.5) * $toggle-height;
            transition: filter $transition-length;
        }
        
        &::before {
            width: $toggle-width-ratio * $toggle-height;
            border-radius: 0.5 * $toggle-height;
            background-color: #aaa;
        }
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f186";
            color: $color-dark;

            $margin-left: -($toggle-width-ratio + 0.5) * $toggle-height;
            margin-left: calc(#{$margin-left} - 0.1em;);

            vertical-align: middle;
            display: inline-block;
            line-height: $toggle-height;
            font-size: 1.5 * $toggle-height;

            
            transition: margin-left $transition-length;
        }
    }
    
    input:checked ~ label {
        &::after {
            $margin-left: (-($toggle-width-ratio + 0.5) * $toggle-height) + ($toggle-width-ratio * $toggle-height - $toggle-height);
            margin-left: calc(#{$margin-left} + 0.1em);
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f185";
            color: $color-light;
        }
        &::before {
            filter: invert(1);
        }
    }
}




.hamburger {
    display: block;
    margin-right: 1rem;
    margin-left: auto;
    width: 3rem;
    height: 0.4rem;
    background: $color-secondary;
    box-shadow: 
    0 0.8rem 0 0 $color-secondary,
    0 1.6rem 0 0 $color-secondary;
}