fieldset.toggle {
    $toggle-height: 1rem;
    $toggle-width-ratio: 2.5;

    border: none;
    padding: 0;
    white-space: nowrap;

    legend {
        font-size: 2px;
        position: absolute;
        opacity: 0;
    }

    input {
        opacity: 0;
    }

    input ~ label {
        display: inline-block;
        // line-height: 2;
        position: relative;
        z-index: 2;
        margin-left: ($toggle-width-ratio + 0.5) * $toggle-height;

        &::before, &::after {
            content: "";
            height: $toggle-height;
            position: absolute;
            left: 0;
            top: calc((100% - (2 * #{$toggle-height})) / 2);
            margin-left: -($toggle-width-ratio + 0.5) * $toggle-height;
            transition: filter $transition-length;
        }

        &::before {
            width: $toggle-width-ratio * $toggle-height;
            border-radius: 0.5 * $toggle-height;
            background-color: #aaa;
        }
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f186";
            color: $color-dark;

            $margin-left: -($toggle-width-ratio + 0.5) * $toggle-height;
            margin-left: calc(#{$margin-left} - 0.1em;);

            vertical-align: middle;
            display: inline-block;
            line-height: $toggle-height;
            font-size: 1.5 * $toggle-height;


            transition: margin-left $transition-length;
        }
    }

    input:checked ~ label {
        &::after {
            $margin-left: (-($toggle-width-ratio + 0.5) * $toggle-height) + ($toggle-width-ratio * $toggle-height - $toggle-height);
            margin-left: calc(#{$margin-left} + 0.1em);
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f185";
            color: $color-light;
        }
        &::before {
            filter: invert(1);
        }
    }
}

.dark-theme {
    header.site-header {

        &:before {
            background-color: $color-secondary;
        }

        .inner #menus {
            background-color: $color-dark;

            #menu-nav-ctas {
                li:first-child>a {
                    color: $color-primary;
                    background-color: $color-dark;
                    border-color: $color-primary;

                    &:hover {
                        color: $color-secondary;
                        background-color: $color-dark;
                        border-color: $color-secondary;
                    }
                }
                li:last-child>a {
                    color: $color-dark;
                    background-color: $color-primary;
                    border-color: $color-primary;

                    &:hover {
                        color: $color-dark;
                        background-color: $color-secondary;
                        border-color: $color-secondary;
                    }
                }
            }

            .menu-social-media-container ul li a {
                color: $color-primary;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }

    main#main {
        .post-card {
            a {
                background-color: $color-dark;
                p {
                    color: $color-light;
                }

                &:hover {
                    h2 { color: $color-light; }
                }
            }
        }
    }

    section#sidebar {
        border-color: $color-secondary;

        section {
            background-color: lighten($color-secondary, 45%);

            &#sidebar-upper {
                .sidebar-card {
                    border-color: $color-secondary;

                    a {
                        background-color: $color-dark;
                    }
                }
            }
        }
    }

    footer.site-footer {

    }
}