header.site-header {
  height: 100%;
  width: 100%;
  display: flex; flex-direction: row;
  align-items: center;
  font-family: $font-sans-serif;
  font-weight: $font-weight-light;
  font-style: $font-style-normal;
  font-size: 1.2rem;
  background-color: $color-light;

  &:before {
    content: '';
    display: block;
    width: 50%;
    height: 100%;

    position: absolute;
    left: 0;
    margin-right: auto;

    background-color: $color-primary;
    clip-path: polygon(
    0% 100%,
    100% 100%,
    calc(100% - (#{$header-height} * #{$angle})) 0%,
    0% 0%);
  }

  a.site-title {
    height: 100%;
    max-width: 40%;
    margin: 0;
    display: flex; flex-direction: row;
    align-items: center;
    z-index: 1;
    padding-left: 2rem;

    font-family: $font-sans-serif;
    font-size: 1.5rem;
    font-weight: $font-weight-heavy;
    // font-style: $font-style-italic;
    color: $color-light;
    // white-space: nowrap;

    &:hover, &:focus {
      color: $color-secondary;
    }
  }

  nav.site-header-nav {
    width: 100%;
    height: 100%;

    .menu-toggle-mobile {
      display: none;
    }

    ol.menu {
      height: 100%;
      max-width: calc(100% - (#{$header-height} * #{$angle}));
      list-style: none;
      display: flex; flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        padding: 0 1vw;
        z-index:1;

        a {
          color: $color-light;
          // text-transform: uppercase;
          font-weight: $font-weight-light;

          &:hover, &:focus {
            color: $color-secondary;
          }
        }
        i {
          color: inherit;
          font-weight: inherit;
          color: inherit;
        }
      }
    }

    @media screen and (max-width: $break-sm) {
      width: unset;
      height: unset;
      position: fixed;
      flex-direction: column;

      z-index: 4;
      color: $color-light;

      input#menu-toggle {
        display: block;
        border: none;
        padding: 0;
        white-space: nowrap;
        height: 1px; width: 1px;
        opacity: 0;
      }

      input#menu-toggle {
        & ~ label {
          --hamburger-size: 35px;

          position: fixed;
          height: var(--hamburger-size);
          width: var(--hamburger-size);
          margin: 1em auto;
          margin-top: 0;
          right: 1rem;
          top: calc(#{$header-height} / 2);
          &, &:before, &:after {
              cursor: pointer;
              border-radius: 3px;
              height: 5px;
              width: var(--hamburger-size);
              background-color: $color-secondary;
              display: block;
              content: '';
          }

          &:before, &:after {
            position: absolute;
          }
          &::before {
              top: -10px;

          }
          &::after {
              bottom: -10px;
          }
        }

        &:checked {
          & ~ label {
            background-color: unset;
            &::before {
              transform: rotate(45deg);
              top: 0;
            }
            &::after {
              transform: rotate(-45deg);
              bottom: 0;
            }
          }

          & ~ ol.menu {
            height: calc(100vh - #{$header-height});
            width: 100vw;
          }
        }
      }

      &:after {
        content: '';
        display: block;
        position: fixed;
        width: 100%; height: calc(100vh - #{$header-height});
        left: 0; top: $header-height;
        z-index: -1;

        background-color: $color-secondary;

        transition: clip-path $transition-length;
        clip-path: polygon(
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%);
      }

      padding-top: 5rem;
      // padding-bottom: 5rem;

      ol.menu {
        background-color: $color-primary;
        position: fixed;

        overflow: hidden;

        flex-direction: column;
        align-items: start;

        top: $header-height;
        left: 0px;

        height: 0;
        width: 50vw;
        max-width: unset; // remove max-width that was set on desktop styling


        li {
          padding: 1rem;
          font-size: 1.75em;
          a {
            margin: 2rem;
          }
        }
      }
    }
  }
}