#single-post {
  div.splash-image {
    width: 100%;
    height: auto;
    max-height: 50vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  div.content {
    width: 45em;
    max-width: 90%;
    margin: 0 auto;
    h1 {

    }
    p {

      * {

      }
    }
  }
}