# Hugo default output directory
/public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

## User
#emacs
*~

# Reference themes
resources/_gen
themes/ananke
themes/hugo-coder
