<nav class="site-header-nav">
  <input type="checkbox" name="menu-collapsed-checkbox" id="menu-toggle" aria-label="toggle whether nav menu is open on mobile" class="menu-toggle-mobile" />
  <ol class="menu">
    {{ range .Site.Menus.navigation }}
      <li><a href="{{ .URL }}" title="{{ .Name }}" class="{{ .Pre }}">{{ .Identifier | safeHTML }}</a></li>
    {{ end }}
  </ol>
  <label for="menu-toggle" class="menu-toggle-mobile"></label>
</nav>

{{/*<fieldset class="toggle hidden" id="fieldset-dark-mode">
    <legend>dark mode toggler</legend>
    <input type="checkbox" name="dark-mode" id="dark-toggle" aria-label="toggle dark mode"/>
    <label for="dark-toggle"></label>
</fieldset>*/}}